.about-header {
  background-image: url(../assets/images/about-header.jpg);
  display: flex;
  flex-direction: column;
  padding: 3rem;
  align-items: left;
  gap: 1rem;
  background-size: cover;
}

.about-header h1,
.about-header h3,
.about-header p {
  color: white;
}

.about-header p {
  margin-bottom: 1rem;
}

.offer {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  max-width: 800px;
}

.offer h2 {
  text-align: center;
}

.offer-section,
.offer-section-reverse {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.offer-section img,
.offer-section-reverse img {
  max-width: 100%;
}

.offer-block {
  display: flex;
  flex-direction: row;
  gap: 0.3rem;
  align-items:flex-start;
  position: relative;
}

.offer-number {
  font-size: 9rem;
  font-weight: bold;
  opacity: 0.1;
  line-height: 1;
  min-width: 126px;
  position: absolute;
  top: -20%;
}

.join-us {
  background-image: url(../assets/images/about-space.jpg);
  color: white;
  padding: 4rem 4rem 2rem 4rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  width: 100%;
  box-sizing: border-box;
  background-size: cover;
}

.join-buttons {
  display: flex;
  flex-wrap: wrap;
}

.join-us div {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

@media only screen and (min-width: 721px) {
  .offer-section {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .offer-section-reverse {
    flex-wrap: nowrap;
    flex-direction: row-reverse;
  }

  .offer-section img,
  .offer-section-reverse img {
    min-width: 360px;
  }

  .offer-section,
  .offer-section-reverse {
    margin-bottom: 3rem;
  }

  .join-us {
    padding-bottom: 4rem;
  }

  .about-header p {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {
  .about-header p {
    max-width: 60%;
  }
}

@media only screen and (min-width: 901px){
  .about-header p {
    max-width: 50%;
    margin-top: 1rem;
  }
}