@import url('variables.css');

* {
  margin: 0;
  padding: 0;
}

h1, 
h2,
h3 {
  font-family: var(--font-primary);
} 

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 4px;
  font-weight: 800;
}

h2 {
  text-transform: capitalize;
  font-size: 1.875rem;
  letter-spacing: 2px;
  font-weight: 800;
}

h3 {
  font-style: italic;
  text-transform: capitalize;
}

p {
  font-family: var(--font-secondary);
  font-weight: 400;
  font-size: 1rem;
}

.header-menu a,
.footer-nav a {
  font-family: var(--font-primary);
  text-decoration: none;
  color: white;
  font-size: 1.125rem;
}

header {
  color: white;
  padding: 1.25rem;
}

@media only screen and (min-width: 1400px){
  .index-header {
    background-repeat:round;
  }
}  

header {
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu a {
  padding-right: 1em;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: var(--primary-color);
  padding: 1rem;
  top:0;
  right: 0;
  margin-top: 93px;
  transition: 0.3s;
}

#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox:checked ~ .header-nav {
  opacity: 100;
}

@media only screen and (max-width: 720px) {
  .header-nav {
    position: absolute;
    opacity: 0;
    padding: 4rem;
  }
}

@media only screen and (min-width: 721px) and (max-width: 900px) {
  .header-nav {
    display: block;
    margin: 0;
  }

  .header-menu label {
    display: none;
  }
}

@media only screen and (min-width: 901px){
  .header-nav {
    display: block;
    margin: 0;
  }

  .header-menu label {
    display: none;
  }
}

.hero {
  background-image: url(../assets/images/index-hero.jpg);
  background-size: cover;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 150px 50px 100px 50px;
}

.hero h1 {
  font-size: 1.875rem;
  font-weight: 300;
}

.hero h2 {
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
}

.hero p {
  font-size: 1rem;
  line-height: 30px;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.cta {
  display: flex;
  justify-content: center;
  color: white;
  background-color: var(--secondary-color);
  padding: 10px;
  font-family: var(--font-secondary);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  min-width: 200px;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /*more shadow?*/
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.cta:hover {
  background-color: white;
  color: var(--secondary-color);
  cursor: pointer;
}
  
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .exhibitions {
    margin-top: 2rem;
    margin-bottom: 1rem;
    width: 100%;
    overflow-x: auto;
  }

  .exhibitions-gallery {
    display: flex;
    gap: 2rem;
    padding-left: 1rem;
  }

  .exhibitions-gallery img {
    border-radius: 20px;
    max-width: 400px;
  }

  .gallery-container {
    position: relative;
  }

  .gallery-container a {
    color: white;
  }

  .gallery-container p {
    position: absolute;
    top: 36%;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 2.8rem;
    line-height: 40px;
    font-weight: 700;
  }

  .exhibition-arrows {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 3rem;
  }

  .exhibition-arrows img {
    max-height: 1rem;
  }

  .activities {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    background-color: var(--primary-color);
    color: white;
  }

  .activities h3 {
    margin-bottom: 2rem;
    text-align: center;
  }

  .activity-layout {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
  }

  .activity {
    display: flex;
    gap: 1rem;
    max-width: 300px;
    align-items: flex-start;
  }

  .activity img {
    max-width: 30px;
  }

  .activity p:first-child {
    text-transform: capitalize;
    font-weight: bold;
  }

  .index-innovation {
    background-image: url(../assets/images/contribution-lightbulb.jpg);
    color: white;
    padding: 3rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    background-size: cover;
  }

  .index-innovation h3 {
    margin-bottom: 2rem;
  }

  .index-innovation p {
    line-height: 30px;
  }

  footer {
    background-color: var(--tertiary-color);
    color: white;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .footer-end {
    border-top: 1px solid white;
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    gap: 6rem;
  }

  .footer-planets {
    max-width: 100%;
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .hero h2 {
      font-size: 3.75rem;
    }
    
    .hero.h2,
    .hero p {
      max-width: 80%;
    }

    .exhibitions-gallery img {
      max-width: 600px;
    }  
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {

    .hero h2 {
      font-size: 5rem;
    }

    .index-innovation {
      padding: 6rem;
    }

    .hero.h2,
    .hero p {
      max-width: 50%;
    }
    .exhibitions-gallery img {
      max-width: 900px;
    }

    .gallery-container p {
      font-size: 4rem;
      line-height: 60px;
    }
  }

  @media only screen and (min-width: 901px){    
    .hero h2 {
      font-size: 4.8rem;
    }

    .activities {
      padding: 4rem;
    }

    .activities h3 {
      margin-bottom: 4rem;
    }

    .index-innovation {
      padding: 4rem;
    }

    .index-innovation div {
      align-self: center;
      max-width: 50%;
    }

    .hero h2 {
      max-width: 60%;
    }

    .hero p {
      max-width: 440px;
    }

    .exhibitions-gallery img {
      max-width: 900px;
    }

    .gallery-container p {
      font-size: 5rem;
      line-height: 70px;
    }
  }

/* used on exhibitions, privacy policy and terms and conditions */
  .page-header {
    padding: 2rem 2rem 0 2rem;
  }


  /* EXHIBITIONS */

  .exhibition-card {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 2rem;
    justify-content: center;
  }

  .exhibition-info {
    max-width: 500px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  .exhibition-info p:nth-child(2) {
    font-style: italic;
  }

  .exhibition-card img {
    max-width: 100%;
  }

  .exhibition-activity {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
    border-radius: 20px;
    gap: 1rem;
    justify-content: flex-end;
  }

  .exhibition-activity div:first-child {
    display: flex;
    gap: 1rem;
  }

  .exhibition-activity img {
    max-height: 30px;
  }

  .exhibition-activity-title {
    align-items: center;
  }

  .line-height {
    line-height: 30px;
  }

  .events {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .event-card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .event-card img {
    max-height: 300px;
    max-width: 100px;
  }

  .event-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
  }

  .event-info p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .event-date {
    background-color: var(--primary-color);
    color: white;
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    max-width: 90%;
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .event-card {
      gap: 2rem;
    }  

    .event-card img {
      max-width: 160px;
    }
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .event-card {
      gap: 2rem;
    }  

    .event-card img {
      max-width: 200px;
    }
  }


  @media only screen and (min-width: 901px){
    .event-card {
      gap: 2rem;
    }  

    .event-card img {
      max-width: 260px;
    }
  }  


  /* CONTACT */
  
  .contact-us {
    background-image: url(../assets/images/contact-header.jpg);
    color: white;
    background-size: cover;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .contact-us h1 {
    margin-bottom: 1rem;
  }

  .contact-text {
    text-decoration: none;
  }

  .opening-hours {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: bold;
  }

  .send-message {
    background-image: url(../assets/images/contact-message.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .send-message h2 {
    padding-top: 4rem;
  }

  .send-message form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  .send-message form label {
    display: none;
  }

  .send-message input,
  .send-message textarea {
    padding: 0.3rem;
    font-family: var(--font-secondary);
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .send-message textarea {
    min-height: 200px;
  }

  .message-button {
    margin-bottom: 4rem;
    position: relative;
  }

  #message-checkbox {
    display: none;
  }

  .message-overlay {
    position: absolute;
    color: white;
    background-color: var(--secondary-color);
    padding: 0.3rem;
    text-align: center;
    max-width: 260px;
    min-width: 260px;
    border-radius: 6px;
    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
  }

  #message-checkbox:checked ~.message-overlay {
    opacity: 1;
    transition: 0.8s;
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .opening-hours {
      flex-direction: row;
      gap: 3rem;
    }

    .contact-us {
      gap: 6rem;
      padding-top: 6rem;
    }

    .contact-us h1 {
      margin-bottom: 4rem;
    }

    .contact-text {
      max-width: 60%;
    }
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .contact-text {
      max-width: 60%;
    }

    .opening-hours {
      flex-direction: row;
      gap: 3rem;
    }

    .contact-us {
      gap: 6rem;
      padding-top: 6rem;
      padding-bottom: 6rem;
    }

    .contact-us h1 {
      margin-bottom: 4rem;
    }

    .contact-us p {
      line-height: 30px;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .contact-text {
      max-width: 40%;
    }

    .opening-hours {
      flex-direction: row;
      gap: 3rem;
    }

    .contact-us {
      gap: 8rem;
      padding-top: 6rem;
      padding-bottom: 8rem;
    }

    .contact-us h1 {
      margin-bottom: 4rem;
    }

    .contact-us p {
      line-height: 30px;
    }
  }

  /* CONTRIBUTIONS */

  .contributions-hero {
    background-image: url(../assets/images/contributions-hero.jpg);
    color: white;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    background-size: cover;
    max-width: 100%;
    margin-bottom: 2rem;
    box-sizing: border-box;
  }

  .contributions-hero h3 {
    margin-bottom: 3rem;
  }

  .ways-to-contribute {
    text-align: center;
    margin-bottom: 3rem;
  }

  .ways-to-contribute h2 {
    margin-bottom: 1rem;
  }

  .contribution-ways {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    max-width: 1000px;
  }

  .contribution-card {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
    color: white;
    padding: 1rem;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border-radius: 10px;
    max-width: 300px;
  }

  .contribution-card img {
    max-width: 60px;
  }

  .ways-to-contribute a{
    color: black;
  }

  .contributions-innovation {
    display: flex;
    flex-direction: column;
    background-color: var(--primary-color);
  }

  .contributions-innovation img {
    max-width: 100%;
  }
  
  .innovation-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }

  .innovation-text,
  .innovation-text a {
    color: white;
  }

  @media only screen and (max-width: 499px) {
    .contributions-hero h1 {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .contributions-hero {
      padding: 6rem;
    }

    .innovation-text {
      padding: 2rem;
    }  
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .contributions-hero {
      padding: 8rem;
    }

    .contributions-hero h1,
    .contributions-hero h3,
    .contributions-hero p {
      max-width: 60%;
    }

    .contributions-innovation {
      flex-direction: row;
      background-image: url(../assets/images/contribution-lightbulb.jpg);
      background-size: 100%;
      justify-content: center;
    }

    .innovation-text {
      padding: 2rem;
      text-align: center;
      max-width: 50%;
    }

    .contributions-innovation img {
      display: none;
    }
  }

  @media only screen and (min-width: 901px) {
    .contributions-hero {
      padding: 8rem;
    }

    .contributions-hero h1,
    .contributions-hero h3,
    .contributions-hero p {
      max-width: 60%;
    }

    .contributions-innovation {
      flex-direction: row;
      background-image: url(../assets/images/contribution-lightbulb.jpg);
      background-size: 100%;
      justify-content: center;
    }

    .innovation-text {
      padding: 4rem;
      text-align: center;
      max-width: 50%;
    }

    .contributions-innovation img {
      display: none;
    }
  }


  /* ABOUT */

  .about-header {
    background-image: url(../assets/images/about-header.jpg);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    gap: 1rem;
  }

  .about-header h1,
  .about-header h3,
  .about-header p {
    color: white;
    text-align: center;
  }

  .about-header p {
    text-align: center;
    margin-bottom: 1rem;
  }

  .offer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    max-width: 900px;
  }

  .offer h2 {
    text-align: center;
  }

  .offer-section,
  .offer-section-reverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .offer-section img,
  .offer-section-reverse img {
    max-width: 100%;
  }

  .offer-block {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items:flex-start;
    position: relative;
  }

  .offer-number {
    font-size: 9rem;
    font-weight: bold;
    opacity: 0.1;
    line-height: 1;
    min-width: 126px;
    position: absolute;
    top: -20%;
  }

  .join-us {
    background-image: url(../assets/images/about-space.jpg);
    color: white;
    padding: 4rem 4rem 2rem 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
  }

  .join-buttons {
    display: flex;
    flex-wrap: wrap;
  }

  .join-us div {
    display: flex;
    gap: 2rem;
    justify-content: center;
  }

  @media only screen and (min-width:500px) and (max-width: 720px) {
    .about-header {
      padding: 4rem;
    }
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .about-header{
      padding: 6rem;
    }

    .about-header p {
      padding-right: 10%;
      padding-left: 10%;
    }  

    .offer-section {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .offer-section img,
    .offer-section-reverse img {
      min-width: 300px;
    }

    .offer-section-reverse {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }

    .offer-section,
    .offer-section-reverse {
      margin-bottom: 3rem;
    }

    .join-us {
      padding-bottom: 4rem;
    }
  }

  @media only screen and (min-width: 901px){
    .about-header {
      padding: 8rem;
    }

    .about-header p {
      padding-right: 10%;
      padding-left: 10%;
    }

    .offer-section {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .offer-section img,
    .offer-section-reverse img {
      min-width: 500px;
    }

    .offer-section-reverse {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }

    .offer-section,
    .offer-section-reverse {
      margin-bottom: 3rem;
    }

    .join-us {
      padding-bottom: 4rem;
    }
  }


  /* PRIVACY POLICY & TERMS AND CONDITIONS*/

  .documents {
    padding: 2rem;
    max-width: 800px;
  }

  .documents div {
    margin-bottom: 2rem;
    line-height: 30px;
  }

  .documents h2 {
    text-transform: none;
  }
