@import url('variables.css');

* {
  margin: 0;
  padding: 0;
}

h1, 
h2,
h3 {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  letter-spacing: 4px;
}

h2 {
  text-transform: capitalize;
  font-size: 1.875rem;
  letter-spacing: 2px;
}

h3 {
  font-style: italic;
  text-transform: capitalize;
}
/*I removed the color on h3 - go over all pages*/

p {
  font-family: "Poppins", Arial, Helvetica, sans-serif;
}

header {
  color: white;
  padding: 1.25rem;
}

.index-header {
  background-image: url(/assets/images/hero.jpg);
  background-repeat: no-repeat;
}

@media only screen and (min-width: 1400px){
  .index-header {
    background-repeat:round;
  }
}  

.main-header {
  background-color: #0B1E2C;
}

.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu a {
  text-decoration: none;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.125rem;
  padding-right: 1em;
}

.header-nav {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  background-color: #375466;
  padding: 1rem;
  position: absolute;
  top:0;
  right: 0;
  margin-top: 93px;
  opacity: 0;
  transition: 0.3s;
}

#hamburger-checkbox {
  display: none;
}

#hamburger-checkbox:checked ~ .header-nav {
  opacity: 100;
}

.hero {
  display: flex;
  flex-direction: column;
  max-width: 70%;
  margin-top: 150px;
  padding-bottom: 50px;
}

.hero h1 {
  font-size: 1.6rem;
  font-weight: 100;
  font-style: italic;
}

.hero h2 {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.hero p {
  font-size: 1rem;
  max-width: 400px;
  line-height: 30px;
  margin-bottom: 1rem;
}

.hero-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

/* I HAVE TO REDESIGN THE BUTTONS! */

.cta {
  display: flex;
  justify-content: center;
  color: white;
  background-color: #B60056;
  padding: 10px;
  font-family: "Poppins", Arial, Helvetica, sans-serif;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  min-width: 200px;
  max-width: 250px;
  border-radius: 10px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /*more shadow?*/
  transition-property: background-color, color;
  transition-duration: 0.5s;
}

.cta:hover {
  background-color: white;
  color: #B60056;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.activities {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  background-color: #0B1E2C;
  color: white;
}

.activities h3 {
  margin-bottom: 2rem;
  text-align: center;
}

.activity-layout {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
}

.activity {
  display: flex;
  gap: 1rem;
  max-width: 300px;
  align-items: flex-start;
}

.activity img {
  max-width: 30px;
}

.activity p:first-child {
  text-transform: capitalize;
  font-weight: bold;
}

.index-innovation {
  background-image: url(../assets/images/index-innovationjpg);
  color: white;
  padding: 3rem;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.index-innovation h3 {
  margin-bottom: 2rem;
}

.index-innovation p {
  line-height: 30px;
}

footer {
  background-color: #0D0D0B;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 0.5rem;
}

.footer-nav {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
}

.footer-nav a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
}

.footer-end {
  border-top: 1px solid white;
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  gap: 6rem;
}

.footer-planets {
  max-width: 100%;
}

@media only screen and (min-width: 500px) and (max-width:720px) {
  .hero h1 {
    font-size: 2rem;
  }
  .hero h2 {
    font-size: 3.4rem;
  }
}


  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .hero h2 {
      font-size: 5rem;
    }

    .index-innovation {
      padding: 6rem;
    }
  }


  @media only screen and (min-width: 901px){
    .hero {
      max-width: 50%;
    }

    .hero h2 {
      font-size: 4.6rem;
    }

    .activities {
      padding: 4rem;
    }

    .activities h3 {
      margin-bottom: 4rem;
    }

    .index-innovation {
      padding: 4rem;
      background-image: url(../assets/images/index-innovation2.jpg);
    }

    .index-innovation div {
      max-width: 50%;
      align-self: center;
    }
  }  

  /*Have to do @media to make sure the background image on hero fills the whole screen when desktop view*/



  /* ALL PAGES (NOT INDEX) */

  .page-header {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }

  /*Can I remove this? When I remove the icons from the headers on index and exhibitions? Have I used it somewhere else?*/



  /* EXHIBITIONS */

  .exhibitions-header {
    margin-top: 2rem;
  }

  .exhibition-card {
    display: flex;
    flex-wrap: wrap;
    margin: 2rem;
    gap: 2rem;
    justify-content: center;
  }

  .exhibition-info {
    max-width: 500px;
    gap: 2rem;
    display: flex;
    flex-direction: column;
  }

  .exhibition-info p:nth-child(2) {
    font-style: italic;
  }

  .exhibition-card img {
    max-width: 100%;
  }

  .exhibition-activity {
    display: flex;
    flex-direction: column;
    background-color: #0B1E2C;
    color: white;
    padding: 1rem;
    align-items: center;
    text-align: center;
    max-width: 100%;
    border-radius: 20px;
    gap: 1rem;
    justify-content: flex-end;
  }

  .exhibition-activity div:first-child {
    display: flex;
    gap: 1rem;
  }

  .exhibition-activity img {
    max-height: 30px;
  }

  .exhibition-activity-title {
    align-items: center;
  }

  .line-height {
    line-height: 30px;
  }

  .events {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
  }

  .event-card {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    margin-top: 1rem;
  }

  .event-card img {
    max-height: 300px;
    max-width: 100px;
  }

  .event-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-width: 300px;
  }

  .event-info p:first-child {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .event-date {
    background-color: #0B1E2C;
    color: white;
    border-radius: 4px;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    max-width: 90%;
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .event-card {
      gap: 2rem;
    }  

    .event-card img {
      max-width: 160px;
    }
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .event-card {
      gap: 2rem;
    }  

    .event-card img {
      max-width: 200px;
    }
  }


  @media only screen and (min-width: 901px){
    .event-card {
      gap: 2rem;
    }  

    .event-card img {
      max-width: 260px;
    }
  }  


  /* CONTACT */
  
  .contact-us {
    background-image: url(../assets/images/contact.jpg);
    color: white;
    background-size: cover;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
  }

  .contact-us h1 {
    margin-bottom: 1rem;
  }

  .opening-hours {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-transform: uppercase;
    font-size: bold;
  }

  .send-message {
    background-image: url(../assets/images/contact-message.jpg);
    background-size: cover;
    color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .send-message h2 {
    padding-top: 4rem;
  }

  .send-message form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 2rem;
  }

  .send-message label {
    display: none;
  }

  .send-message input,
  .send-message textarea {
    padding: 0.3rem;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
    font-size: 1rem;
    border-radius: 6px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }

  .send-message textarea {
    min-height: 200px;
  }

  .send-message a {
    margin-bottom: 4rem;
    width: 300px;
    justify-content: center;
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .opening-hours {
      flex-direction: row;
      gap: 3rem;
    }

    .contact-us {
      gap: 6rem;
      padding-top: 6rem;
    }

    .contact-us h1 {
      margin-bottom: 4rem;
    }

    .contact-text {
      max-width: 60%;
    }
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .contact-text {
      max-width: 60%;
    }

    .opening-hours {
      flex-direction: row;
      gap: 3rem;
    }

    .contact-us {
      gap: 6rem;
      padding-top: 6rem;
    }

    .contact-us h1 {
      margin-bottom: 4rem;
    }
  }
  
  @media only screen and (min-width: 901px) {
    .contact-text {
      max-width: 30%;
    }

    .opening-hours {
      flex-direction: row;
      gap: 3rem;
    }

    .contact-us {
      gap: 6rem;
      padding-top: 6rem;
    }

    .contact-us h1 {
      margin-bottom: 4rem;
    }  
  }


  /* PRIVACY POLICY & TERMS AND CONDITIONS*/

  .documents {
    padding: 2rem;
    max-width: 800px;
  }

  .documents div {
    margin-bottom: 2rem;
    line-height: 30px;
  }

  .documents h2 {
    text-transform: none;
  }


  /* CONTRIBUTIONS */

  .contributions-hero {
    background-image: url(../assets/images/contributions-hero-mobile.jpg);
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    background-position: center;
    background-size:cover;
    margin-bottom: 2rem;
  }

  .contributions-hero h3 {
    margin-bottom: 3rem;
  }

  .ways-to-contribute {
    text-align: center;
    margin-bottom: 3rem;
  }

  .ways-to-contribute h2 {
    margin-bottom: 1rem;
  }

  .contribution-ways {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    max-width: 1000px;
  }

  .contribution-card {
    display: flex;
    flex-direction: column;
    background-color: #0B1E2C;
    color: white;
    padding: 1rem;
    align-items: center;
    text-align: center;
    gap: 1rem;
    border-radius: 10px;
    max-width: 300px;
  }

  .contribution-card img {
    max-width: 60px;
  }

  .ways-to-contribute a{
    color: black;
  }

  .contributions-innovation {
    display: flex;
    flex-direction: column;
    background-color: #0B1E2C;
  }

  .contributions-innovation img {
    max-width: 100%;
  }

  .innovation-tablet {
    display: none;
  }

  .innovation-text {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: space-between;
  }

  .innovation-text,
  .innovation-text a {
    color: white;
  }

  @media only screen and (max-width: 499px) {
    .contributions-hero h1 {
      font-size: 2rem;
    }
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
    .contributions-hero {
      padding: 6rem;
    }

    .innovation-text {
      padding: 2rem;
    }  
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .contributions-hero {
      background-image: url(../assets/images/contributions-hero.jpg);
      padding: 8rem;
    }

    .contributions-hero h1,
    .contributions-hero h3,
    .contributions-hero p {
      max-width: 60%;
    }

    .contributions-innovation {
      flex-direction: row;
    }

    .innovation-text {
      max-width: 50%;
      padding: 2rem;
    }

    .innovation-mobile {
      display: none;
    }

    .innovation-tablet {
      display: block;
    }
  }

  @media only screen and (min-width: 901px) {
    .contributions-hero {
      background-image: url(../assets/images/contributions-hero.jpg);
      padding: 8rem;
    }

    .contributions-hero h1,
    .contributions-hero h3,
    .contributions-hero p {
      max-width: 60%;
    }

    .contributions-innovation {
      flex-direction: row;
    }

    .innovation-text {
      max-width: 60%;
      padding: 2rem;
      justify-content: center;
    }

    .innovation-mobile {
      display: none;
    }

    .innovation-tablet {
      display: block;
    }
  }

  /* ABOUT */

  .about-header {
    background-image: url(../assets/images/about-header.jpg);
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    gap: 1rem;
  }

  .about-header h1,
  .about-header h3,
  .about-header p {
    color: white;
    text-align: center;
  }

  .about-header p {
    text-align: center;
    margin-bottom: 1rem;
  }

  .offer {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .offer h2 {
    text-align: center;
  }

  .offer-section,
  .offer-section-reverse {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
  }

  .offer-section img,
  .offer-section-reverse img {
    max-width: 100%;
  }

  .offer-block {
    display: flex;
    flex-direction: row;
    gap: 0.3rem;
    align-items:flex-start;
    position: relative;
  }

  .offer-number {
    font-size: 9rem;
    font-weight: bold;
    opacity: 0.1;
    line-height: 1;
    min-width: 126px;
    position: absolute;
    top: -20%;
  }

  .join-us {
    background-image: url(../assets/images/about-space.jpg);
    color: white;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  /* Have to fix the image on .join-us - make it fill the whole width of the screen */

  .join-us div {
    display: flex;
    gap: 4rem;
    justify-content: center;
  }

  @media only screen and (min-width: 500px) and (max-width: 720px) {
  }

  @media only screen and (min-width: 721px) and (max-width: 900px) {
    .about-header p {
      padding-right: 10%;
      padding-left: 10%;
    }  

    .offer-section {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .offer-section img,
    .offer-section-reverse img {
      min-width: 300px;
    }

    .offer-section-reverse {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }

    .offer-section,
    .offer-section-reverse {
      margin-bottom: 3rem;
    }
  }

  @media only screen and (min-width: 901px){
    .about-header p {
      padding-right: 10%;
      padding-left: 10%;
    }

    .offer-section {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .offer-section img,
    .offer-section-reverse img {
      min-width: 500px;
    }

    .offer-section-reverse {
      flex-wrap: nowrap;
      flex-direction: row-reverse;
    }

    .offer-section,
    .offer-section-reverse {
      margin-bottom: 3rem;
    }
  }

  /* Much of the same in media queries. DRY!! */