:root {

  --primary-color: rgb(11, 30, 44);
  --secondary-color: rgb(182, 0, 86);
  --tertiary-color: rgb(13, 13, 11);

  --font-primary: "Montserrat", Arial, Helvetica, sans-serif;
  --font-secondary: "Poppins", Arial, Helvetica, sans-serif;

  --hero-padding-small: 3rem;
  --hero-padding-medium: 4rem;
  --hero-padding-large: 5rem;

}